:root {
    --background-color: #000000;
    --text-color: #fff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --text-color: #fff;
    }
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.newyear {
    font-size: 10vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 0 0 1vw var(--text-color);
    cursor: pointer;
    -webkit-user-drag: none;
    animation: newyear 6s ease-in-out infinite;
}

@keyframes newyear {
    0% {
        text-shadow: 0 0 1vw var(--text-color);;
    }
    50% {
        text-shadow: 0 0 3vw var(--text-color);
    }
    100% {
        text-shadow: 0 0 1vw var(--text-color);
    }
}

.bubblearea {
    background-color: transparent;
    color: var(--text-color);
    display: block;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.bubble{
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    animation: bubble 10s;
    cursor: pointer;
    -webkit-user-drag: none;
}

@keyframes bubble {
    0% {
        transform: translateY(3vh);
        height: 2vw;
        width: 2vw;
    }
    100% {
        transform: translateY(-100vh);
        height: 10vw;
        width: 10vw;
    }
}